<br />
<div class="container">
    <br />
    <div class="card">
        <div class="card-header text-white bg-secondary">
            Déclarer un problème
        </div>
        <div class="card-body">

            <p class="card-text">Veuillez renseigner les zones suivantes et soumettre votre demande</p>

            <form class="form-horizontal" novalidate (ngSubmit)="save()" [formGroup]="problemeForm">

                <div class="form-group row">
                    <label for="prenomId" class="col-md-2 col-form-label text-right">Prénom: </label>
                    <div class="col-md-10">
                        <input class="form-control" id="prenomId" type="text"
                            placeholder="Votre prénom ici (obligatoire)" formControlName="prenomProbleme" [ngClass]="{'is-valid': (problemeForm.get('prenomProbleme').touched || 
              problemeForm.get('prenomProbleme').dirty) &&
              (problemeForm.get('prenomProbleme').valid),
              'is-invalid': (problemeForm.get('prenomProbleme').touched || 
              problemeForm.get('prenomProbleme').dirty) &&
              (!problemeForm.get('prenomProbleme').valid )}" />



                        <span class="form-text" *ngIf="(problemeForm.get('prenomProbleme').touched ||
            problemeForm.get('prenomProbleme').dirty) &&
            problemeForm.get('prenomProbleme').errors">

                            <span *ngIf="problemeForm.get('prenomProbleme').errors.nbCaracteresInsuffisants">
                                <small class="text-muted">
                                    Indiquer au moins 3 caracteres
                                </small>
                            </span>
                            <span *ngIf="problemeForm.get('prenomProbleme').errors.required">
                                <small class="text-muted">
                                    Merci de saisir votre prénom.
                                </small>
                            </span>
                        </span>

                    </div>
                </div>
            </form>
        </div>


    </div>
</div>